
  .cadastro-wrapper {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.formulario {
  flex: 1;
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario h1 {
  color: #561fec;
}

.formulario label {
  margin-top: 10px;
}

.formulario input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn.roxo {
  background-color: #561fec;
  color: white;
  border: none;
}

.btn.branco {
  background-color: white;
  color: #561fec;
  border: 1px solid #561fec;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.redes a {
  color: #561fec;
  text-decoration: none;
}

.informacoes {
  flex: 1;
  background-color: #1e1e1e;
  color: white;
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.navegacao {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}

.navegacao a {
  color: white;
  text-decoration: none;
}

.navegacao a.ativo {
  color: #561fec;
  font-weight: bold;
}

.conteudo-secao {
  padding: 20px;
  border: 1px solid #561fec;
  border-radius: 10px;
  background-color: #121212;
  min-height: 200px;
}

.plano {
  border: 1px solid #561fec;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.plano.ativo {
  background-color: #561fec;
  color: white;
}